.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	.card {
		width: 400px;
		height: auto;

		&-title {
			display: flex;
			gap: 16px;
			margin-bottom: 24px;
			p {
				font-weight: 700;
			}
		}
		.form-control i {
			display: block;
			font-size: 9pt;
			margin-top: 8px;
		}
	}
}
