$primary: #3797ef;
$primary-disabled: #9bcbf7;

$danger: #ef3737;
$danger-disabled: #f4dada;

$muted: #666;
$muted-disabled: #ccc;

$border-gray: 1px solid #999999;
$border-radius: 8px;
$box-shadow: 0px 0px 10px -8px #000000;
