@use '../../assets/scss/root.scss';

.right-profile {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;

	.user-image {
		cursor: pointer;
	}

	.user-name {
		width: 100%;
		padding: 0px 12px;
		cursor: pointer;

		.login {
			font-size: 0.8rem;
			font-weight: 600;
		}

		.name {
			font-size: 0.9rem;
			color: root.$muted;
		}
	}

	button {
		background: transparent;
		color: root.$primary;
		font-weight: 600;
	}
}
